* {
    box-sizing: border-box;
}

#container {
	width:100%;
}

.header, .footer {
    background-color: darkgrey;
    color: white;
    padding: 10px;
	font-family: Arial, Sans-Serif;
    text-align: center;
}

.column {
    float: top;
    padding: 10px;
	height: 50px;
    
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.menu {
    width: 100%;
}

.content {
    width: 100%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.menu li {
    float: left;

}



li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}